<nav>
    <a href="/">Home</a>
    
    <% if (user) { %>
        <a href="/recipes">Recipes</a>
        <a href="/ingredients">Ingredients</a>
        <a href="/users">Community</a>
        <form action="/auth/sign-out" method="POST" style="display: inline;">
            <button type="submit">Sign Out</button>
        </form>
    <% } else { %>
        <a href="/auth/sign-in">Sign In</a>
        <a href="/auth/sign-up">Sign Up</a>
    <% } %>
</nav>